<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="nextpage.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="round">
	<h2>Student management</h2>
	<form name="f1">
	<div class="info">
		<label>Student Name: </label><input type="text" ng-model="name" required>
	</div>
	<div class="info">
		<label>Student DOB: </label><input type="date" name="dob" ng-model="dob">
	</div>
	<div class="info">
		<label>Student Gender: </label><input type="radio" ng-model="gender" value="Male"name ="">Male <input type="radio" value="Female" ng-model="gender"name ="" checked> Female
	</div>
	<div class="info">
		<label>Student Language:</label><input type="radio" name="2" checked value="English" ng-model="lang">English <input type="radio" name="2" checked ng-model="lang" value="Vietnamese">Vietnamese <input type="radio" name="2" ng-model="lang" value="Japanese">Japanese <input type="radio" name="2" ng-model="lang" value="Chinese">Chinese <input type="radio" name="2" ng-model="lang" value="French">French
	</div>
	<div class="info">
		<label>Student Class: </label><select>
			<option selected >{{class}}</option>
			
		</select> <span class="add" ng-click="addClass()" ><b>Add Class</b></span>
	</div>
	<div class="info">
		<input type="submit" value="{{add}}" ng-click="xuLi()"name="" >
	</div>
	</form>
<table border="1px" width="100%" cellspacing="0" cellpadding="5px">
	<caption><h2>Student List</h2></caption>
	<thead>
		<th>Name</th>
		<th>Class</th>
		<th>DOB</th>
		<th>Gender</th>
		<th>Language</th>
		<th></th>
	</thead>
	<tbody>
		<tr ng-repeat=" person in people" ng-click="luuSave()" >
			<td>{{person.name}}</td>
			<td>{{person.class}}</td>
			<td>{{person.dob | date:'shortDate'}}</td>
			<td>{{person.gender}}</td>
			<td>{{person.lang}}</td>
			<td ng-click="delPer($index)"><span style="color: #9490ce;text-decoration: underline;cursor: pointer;">Delete</span></td>
		</tr>
	</tbody>
</table>
<p style="margin-left: 85%;">Total: <span style="text-decoration: underline;color: #9993a2;">3 students</span></p>
</div>

<script>
	let app = angular.module("myApp",[]);
	app.controller("myCtrl", function($scope) {
		$scope.people = [
		{name:"Nguyen Van A",class:"C1610L",dob:"20/10/1990",gender:"Male",lang:"Vietnamese, Chinese"},
		{name:"Tran Thi B",class:"C1608I",dob:"03/02/1991",gender:"Female",lang:"Vietnamese, English, Japanese"},
		{name:"Pham Thanh C",class:"C1708I",dob:"03/02/1991",gender:"Female",lang:"Vietnamese, English, Japanese"}
		]
		$scope.class="C1608G";
		$scope.addClass = function() {
			$scope.class= prompt("Input new class name");
			if($scope.class) {
				alert("New class added successfully!")
			}
		}
		$scope.add = "Add";
		$scope.luuSave = function() {
			$scope.add= "Save";
		}
		$scope.xuLi = function() {
			if($scope.add=="Save") {
				alert("The student edited successfully");
				$scope.add="Add";
			} else {
				$scope.people.push({name:$scope.name, class:$scope.class, dob: $scope.dob, gender:$scope.gender, lang:$scope.lang});
			
			$scope.name ="";
			$scope.class ="";
			$scope.dob ="";
			$scope.gender ="";
			$scope.lang ="";
				alert("New student added successfully!");
			}
		}
		$scope.delPer = function(id) {
			if(confirm ("Are you sure want to delete?")) {
			$scope.people.splice(id, 1)
			}
		}
		
		
		

			
		
	})
	
</script>
</body>
</html>